.main.container
  h2.text-center
    span Bitcoin - Ether
  .last_price.text-center
    h3(ng-if='!main.coin.bitcoin')
      i.fa.fa-spinner.fa-pulse
    h3(ng-if='!main.coin.ether')
      i.fa.fa-spinner.fa-pulse
    .content(ng-if='main.coin.bitcoin')
      h1 {{main.coin.bitcoin | currency}}
      h1 {{main.coin.ether | currency}}