.main.container
  h2.text-center
    span Bitcoin - Ether
  .last_price.text-center
    span(ng-if='main.loading')
      i.fa.fa-spinner.fa-pulse
    .content(ng-if='!main.loading')
      h1 {{main.bitcoin | currency}}
      h1 {{main.ether | currency}}