@import './core/css/functions';
@import './core/css/colors';
@import './core/css/common';
@import './core/css/logo';

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body,
html,
.ng-scope{
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}
.main{
  background-color: #1abc9c;
  h2{
    color:white;
    text-transform: uppercase;
  }
}